In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

C:\Users\dsant\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\dsant\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
C:\Users\dsant\AppData\Local\Temp\ipykernel_22512\1285016483.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Dummies

In [13]:
# Substitua 'caminho/do/arquivo.xlsx' pelo caminho do seu arquivo Excel
caminho_do_arquivo = 'Limite_Credito_Escolaridade.xlsx'

# Carregar o arquivo Excel em um DataFrame
limite = pd.read_excel(caminho_do_arquivo)
limite.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade
0,70,10736,5214,400,500,Fundamental_Medio
1,68,5000,5000,380,600,Fundamental_Medio
2,44,5800,5800,500,800,Fundamental_Medio
3,72,4300,4300,2000,1000,Fundamental_Medio
4,75,4400,4400,3000,1000,Fundamental_Medio

In [14]:
limite = pd.get_dummies(limite, prefix=["Escolaridade"])
limite.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos
0,70,10736,5214,400,500,True,False
1,68,5000,5000,380,600,True,False
2,44,5800,5800,500,800,True,False
3,72,4300,4300,2000,1000,True,False
4,75,4400,4400,3000,1000,True,False

In [15]:
# Converter os valores booleanos em inteiros (0 e 1)
limite = limite.astype(int)

# Agora 'limite' contém os valores 0 e 1 em vez de True e False

# Você pode imprimir o DataFrame resultante para verificar
limite.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos
0,70,10736,5214,400,500,1,0
1,68,5000,5000,380,600,1,0
2,44,5800,5800,500,800,1,0
3,72,4300,4300,2000,1000,1,0
4,75,4400,4400,3000,1000,1,0

In [16]:
limite.corr()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos
Idade,1.000000,0.066396,0.063227,0.064149,0.075883,-0.110892,0.110892
RendimentoTotal,0.066396,1.000000,0.960551,0.031041,0.858120,-0.396191,0.396191
Salario,0.063227,0.960551,1.000000,0.081792,0.888839,-0.475479,0.475479
LimitedeCreditoImediato,0.064149,0.031041,0.081792,1.000000,0.226990,-0.259433,0.259433
LimitedoChequeEspecial,0.075883,0.858120,0.888839,0.226990,1.000000,-0.598310,0.598310
Escolaridade_Fundamental_Medio,-0.110892,-0.396191,-0.475479,-0.259433,-0.598310,1.000000,-1.000000
Escolaridade_Superior_Pos,0.110892,0.396191,0.475479,0.259433,0.598310,-1.000000,1.000000

### Ajuste de variáveis

In [17]:
import statsmodels.formula.api as smf

In [18]:
function = "LimitedoChequeEspecial ~ Idade + RendimentoTotal + Salario + LimitedeCreditoImediato + Escolaridade_Fundamental_Medio + Escolaridade_Superior_Pos"
model = smf.ols(formula=function, data=limite).fit()
print(model.summary()) # tirar IDADE

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.848
Model:                                OLS   Adj. R-squared:                  0.830
Method:                     Least Squares   F-statistic:                     46.89
Date:                    Fri, 02 Feb 2024   Prob (F-statistic):           4.07e-16
Time:                            16:05:07   Log-Likelihood:                -441.00
No. Observations:                      48   AIC:                             894.0
Df Residuals:                          42   BIC:                             905.2
Df Model:                               5
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                       -509.4948   1248.421     -0.408      0.685   -3028.910    2009.920
Idade                             -2.7480     24.707     -0.111      0.912     -52.608      47.112
RendimentoTotal                    0.1461      0.109      1.338      0.188      -0.074       0.366
Salario                            0.3201      0.154      2.079      0.044       0.009       0.631
LimitedeCreditoImediato            0.7979      0.411      1.943      0.059      -0.031       1.627
Escolaridade_Fundamental_Medio -1611.3283    619.903     -2.599      0.013   -2862.343    -360.313
Escolaridade_Superior_Pos       1101.8335    899.444      1.225      0.227    -713.319    2916.986
==============================================================================
Omnibus:                        3.246   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.197   Jarque-Bera (JB):                2.813
Skew:                           0.031   Prob(JB):                        0.245
Kurtosis:                       4.184   Cond. No.                     3.53e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.93e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [19]:
function = "LimitedoChequeEspecial ~ RendimentoTotal + Salario + LimitedeCreditoImediato + Escolaridade_Fundamental_Medio + Escolaridade_Superior_Pos"
model = smf.ols(formula=function, data=limite).fit()
print(model.summary()) # tirar Intercepto acrescentar -1

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.848
Model:                                OLS   Adj. R-squared:                  0.834
Method:                     Least Squares   F-statistic:                     59.99
Date:                    Fri, 02 Feb 2024   Prob (F-statistic):           4.92e-17
Time:                            16:06:16   Log-Likelihood:                -441.01
No. Observations:                      48   AIC:                             892.0
Df Residuals:                          43   BIC:                             901.4
Df Model:                               4
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                       -619.3788    754.395     -0.821      0.416   -2140.761     902.003
RendimentoTotal                    0.1455      0.108      1.350      0.184      -0.072       0.363
Salario                            0.3208      0.152      2.110      0.041       0.014       0.627
LimitedeCreditoImediato            0.7960      0.406      1.962      0.056      -0.022       1.614
Escolaridade_Fundamental_Medio -1661.7862    417.576     -3.980      0.000   -2503.908    -819.664
Escolaridade_Superior_Pos       1042.4074    715.195      1.458      0.152    -399.921    2484.736
==============================================================================
Omnibus:                        3.276   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.194   Jarque-Bera (JB):                2.867
Skew:                           0.016   Prob(JB):                        0.238
Kurtosis:                       4.197   Cond. No.                     2.41e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.15e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [20]:
function = "LimitedoChequeEspecial ~ RendimentoTotal + Salario + LimitedeCreditoImediato + Escolaridade_Fundamental_Medio + Escolaridade_Superior_Pos - 1"
model = smf.ols(formula=function, data=limite).fit()
print(model.summary()) # tirar Escolaridade_Superior_Pos

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.848
Model:                                OLS   Adj. R-squared:                  0.834
Method:                     Least Squares   F-statistic:                     59.99
Date:                    Fri, 02 Feb 2024   Prob (F-statistic):           4.92e-17
Time:                            16:07:08   Log-Likelihood:                -441.01
No. Observations:                      48   AIC:                             892.0
Df Residuals:                          43   BIC:                             901.4
Df Model:                               4
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
RendimentoTotal                    0.1455      0.108      1.350      0.184      -0.072       0.363
Salario                            0.3208      0.152      2.110      0.041       0.014       0.627
LimitedeCreditoImediato            0.7960      0.406      1.962      0.056      -0.022       1.614
Escolaridade_Fundamental_Medio -2281.1650    987.653     -2.310      0.026   -4272.957    -289.373
Escolaridade_Superior_Pos        423.0286   1409.561      0.300      0.766   -2419.621    3265.678
==============================================================================
Omnibus:                        3.276   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.194   Jarque-Bera (JB):                2.867
Skew:                           0.016   Prob(JB):                        0.238
Kurtosis:                       4.197   Cond. No.                     1.01e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.01e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [21]:
function = "LimitedoChequeEspecial ~ RendimentoTotal + Salario + LimitedeCreditoImediato + Escolaridade_Fundamental_Medio - 1"
model = smf.ols(formula=function, data=limite).fit()
print(model.summary()) # Selecionado

                                   OLS Regression Results
===========================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared (uncentered):                   0.918
Model:                                OLS   Adj. R-squared (uncentered):              0.911
Method:                     Least Squares   F-statistic:                              123.2
Date:                    Fri, 02 Feb 2024   Prob (F-statistic):                    2.66e-23
Time:                            16:07:43   Log-Likelihood:                         -441.06
No. Observations:                      48   AIC:                                      890.1
Df Residuals:                          44   BIC:                                      897.6
Df Model:                               4
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
RendimentoTotal                    0.1404      0.105      1.333      0.189      -0.072       0.353
Salario                            0.3350      0.143      2.342      0.024       0.047       0.623
LimitedeCreditoImediato            0.8827      0.282      3.132      0.003       0.315       1.451
Escolaridade_Fundamental_Medio -2511.0773    616.877     -4.071      0.000   -3754.312   -1267.843
==============================================================================
Omnibus:                        3.142   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.208   Jarque-Bera (JB):                2.657
Skew:                          -0.017   Prob(JB):                        0.265
Kurtosis:                       4.152   Cond. No.                     3.87e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 3.87e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## Exercicio 385-386

In [48]:
# Substitua 'caminho/do/arquivo.xlsx' pelo caminho do seu arquivo Excel
caminho_do_arquivo = 'Limite_Credito_Dummy.xlsx'

# Carregar o arquivo Excel em um DataFrame
df = pd.read_excel(caminho_do_arquivo)
df.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,Escolaridade,Gênero,Região,LimitedoChequeEspecial
0,70,10736,5214,400,Fundamental_Medio,RJ,F,500
1,68,5000,5000,380,Fundamental_Medio,RJ,F,600
2,44,5800,5800,500,Fundamental_Medio,RJ,F,800
3,72,4300,4300,2000,Fundamental_Medio,RJ,F,1000
4,75,4400,4400,3000,Fundamental_Medio,RJ,F,1000

In [49]:
df.columns

Index(['Idade', 'RendimentoTotal', 'Salario', 'LimitedeCreditoImediato',
       'Escolaridade', 'Gênero', 'Região', 'LimitedoChequeEspecial'],
      dtype='object')

In [51]:
df = pd.get_dummies(data=df, columns=["Escolaridade", "Gênero", "Região"], prefix=["Esc", "Gen", "Reg"])
df.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Esc_Fundamental_Medio,Esc_Superior_Pos,Gen_RJ,Gen_SP,Reg_F,Reg_M
0,70,10736,5214,400,500,True,False,True,False,True,False
1,68,5000,5000,380,600,True,False,True,False,True,False
2,44,5800,5800,500,800,True,False,True,False,True,False
3,72,4300,4300,2000,1000,True,False,True,False,True,False
4,75,4400,4400,3000,1000,True,False,True,False,True,False

In [53]:
# Converter os valores booleanos em inteiros (0 e 1)
df = df.astype(int)

# Agora 'limite' contém os valores 0 e 1 em vez de True e False

# Você pode imprimir o DataFrame resultante para verificar
df.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Esc_Fundamental_Medio,Esc_Superior_Pos,Gen_RJ,Gen_SP,Reg_F,Reg_M
0,70,10736,5214,400,500,1,0,1,0,1,0
1,68,5000,5000,380,600,1,0,1,0,1,0
2,44,5800,5800,500,800,1,0,1,0,1,0
3,72,4300,4300,2000,1000,1,0,1,0,1,0
4,75,4400,4400,3000,1000,1,0,1,0,1,0

In [57]:
import statsmodels.formula.api as smf

In [59]:
df.corr()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Esc_Fundamental_Medio,Esc_Superior_Pos,Gen_RJ,Gen_SP,Reg_F,Reg_M
Idade,1.000000,0.239445,0.213186,0.057183,0.228117,-0.150088,0.150088,-0.196052,0.196052,-0.121217,0.121217
RendimentoTotal,0.239445,1.000000,0.960551,0.031041,0.858120,-0.396191,0.396191,-0.177798,0.177798,-0.406241,0.406241
Salario,0.213186,0.960551,1.000000,0.081792,0.888839,-0.475479,0.475479,-0.242621,0.242621,-0.424335,0.424335
LimitedeCreditoImediato,0.057183,0.031041,0.081792,1.000000,0.226990,-0.259433,0.259433,-0.001145,0.001145,-0.473326,0.473326
LimitedoChequeEspecial,0.228117,0.858120,0.888839,0.226990,1.000000,-0.598310,0.598310,-0.312566,0.312566,-0.591779,0.591779
Esc_Fundamental_Medio,-0.150088,-0.396191,-0.475479,-0.259433,-0.598310,1.000000,-1.000000,0.237508,-0.237508,0.602464,-0.602464
Esc_Superior_Pos,0.150088,0.396191,0.475479,0.259433,0.598310,-1.000000,1.000000,-0.237508,0.237508,-0.602464,0.602464
Gen_RJ,-0.196052,-0.177798,-0.242621,-0.001145,-0.312566,0.237508,-0.237508,1.000000,-1.000000,-0.167248,0.167248
Gen_SP,0.196052,0.177798,0.242621,0.001145,0.312566,-0.237508,0.237508,-1.000000,1.000000,0.167248,-0.167248
Reg_F,-0.121217,-0.406241,-0.424335,-0.473326,-0.591779,0.602464,-0.602464,-0.167248,0.167248,1.000000,-1.000000
Reg_M,0.121217,0.406241,0.424335,0.473326,0.591779,-0.602464,0.602464,0.167248,-0.167248,-1.000000,1.000000

In [64]:
function = "LimitedoChequeEspecial ~ Salario + Gen_RJ + Gen_SP + Reg_F + Reg_M"


model = smf.ols(formula=function, data=limite).fit()
print(model.summary()) # tirar IDADE

PatsyError: Error evaluating factor: NameError: name 'Gen_RJ' is not defined
    LimitedoChequeEspecial ~ Salario + Gen_RJ + Gen_SP + Reg_F + Reg_M
                                       ^^^^^^